body {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif;
	color: #555;
}

.bg-teal-gradient {
	background-color: #56a8ae;
	color: white;
}

.btn-orange {
	color: white;
	background-color: #f88900;
}
.btn-orange:hover {
	color: white;
	background-color: #ffa12c;
}

.btn-teal-outline {
	color: #3fb5bf;
	background-color: #f5f5f5;
	border-color: #6dc7cf;
}

.btn-teal-outline:hover {
	color: #3fb5bf;
	background-color: white;
}

.border-grey {
	border: 1px solid #dbdbdb;
}
/* tab code */
#lang .nav-link {
	background-color: #f5f5f5;
	color: #363636;
}

#lang .nav-link.active {
	background-color: #f88900;
	border-color: #ffa12c;
	color: white;
}

#lang .tab-pane {
	height: 400px;
	overflow: auto;
	background-color: #363636;
	width: 100%;
}

pre.sublemon {
	overflow: visible;
}
/* text style helper */
.text-faded-grey {
	color: #ccc;
}

.text-white-dark {
	color: #f5f3f2;
}
/* spacing helper */
.pt-80 {
	padding-top: 80px !important;
}

.pb-80 {
	padding-bottom: 80px !important;
}

.py-80 {
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}
/* highlight helper */
figure.highlight {
	background-color: #e0e4ef;
	border-left: 2px solid #909fa8;
	padding: 10px;
}

figure.highlight pre {
	margin-bottom: 0;
}

.post-item {
	border-top: 1px solid #dbdbdb;
}
.post-item:last-child {
	border-bottom: 1px solid #dbdbdb;
}
