body {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif;
	color: #555;
}
/* override bootstrap */
.btn {
	transition: .2s background ease-out;
}

.bg-teal-gradient {
	background-color: #71c3c3;
	color: white;
}

.btn-white-outline {
	background-color: transparent;
	color: white;
	border-radius: 0;
	border: 2px solid white;
}

.btn-white-outline:hover {
	background-color: white;
	color: #4eb4b4;
}

.btn-teal {
	color: white;
	background-color: #4eb4b4;
	border-radius: 0;
	border: 2px solid #6dc7cf;
}

.btn-teal:hover {
	color: white;
	background-color: #6dc7cf;
}

.btn-teal-outline {
	color: #4eb4b4;
	background-color: transparent;
	border-radius: 0;
	border: 2px solid #4eb4b4;
}

.btn-teal-outline:hover {
	background-color: #4eb4b4;
	color: white;
}

.border-grey {
	border: 1px solid #dbdbdb;
}
/* tab code */
#lang .nav {
	margin-bottom: 5px;
}
#lang .nav-link {
	background-color: transparent;
	border: 2px solid #c6d7d7;
	color: #c6d7d7;
	border-radius: 0;
}

#lang .nav-link.active {
	background-color: #c6d7d7;
	color: #042a2a;
}
#lang .nav-link:hover {
	background-color: white;
	border-color: white;
}

#lang .tab-pane {
	height: 400px;
	overflow: auto;
	background-color: #363636;
	width: 100%;
}

pre.sublemon {
	overflow: visible;
}
/* text style helper */
.text-faded-grey {
	color: #ccc;
}

.text-white-dark {
	color: #f5f3f2;
}
/* spacing helper */
.pt-80 {
	padding-top: 80px !important;
}

.pb-80 {
	padding-bottom: 80px !important;
}

.py-80 {
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}
/* highlight helper */
figure.highlight {
	background-color: #e0e4ef;
	border-left: 2px solid #909fa8;
	padding: 10px;
}

figure.highlight pre {
	margin-bottom: 0;
}

.post-item {
	border-top: 1px solid #dbdbdb;
}
.post-item:last-child {
	border-bottom: 1px solid #dbdbdb;
}
