<% page.title = 'News' %>
<div id="post-wrap">
	<% page.posts.forEach(function (post, index) { %>
		<% if (index === 0) { %>
			<%- partial('partials/post', {post: post}) %>
		<% } else { %>
			<article class="post-item container">
				<a 
					href="<%= url_for(post.path) %>"
					class="post-link text-warning d-block py-1">
					<%= post.title %>
					<span class="float-xs-right">
						<%= post.date.format('YYYY-MM-DD') %>
					</span>
				</a>
			</article>
		<% } %>
	<% }) %>
</div>
