<!DOCTYPE html>
<html lang="en">
<%- partial('partials/head') %>
<body>
	<%- partial('partials/header') %>
	<%- body %>
	<%- partial('partials/footer') %>
	<script src="/js/smooth-scroll.min.js"></script>
	<script src="/js/common.js"></script>
</body>
</html>
