<aside id="doc-sidebar" class="float-lg-left">
  <div class="lead"><%= __('docs.get_started') %></div>
  <div><a href="<%= url_for_lang('/docs/syntax.html') %>">
    <%= __('docs.syntax') %>
  </a></div>
</aside>