<footer>
	<div class="container pt-3">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<a href="/">帮助</a>
				<ul class="list-unstyled">
					<li><a class="text-muted" href="/">售后支持</a></li>
					<li><a class="text-muted" href="/">API 文档</a></li>
					<li><a class="text-muted" href="/">微博</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="card card-block text-xs-center">
					<div class="card-title">
						联系我们
					</div>
					<a href="tel://022-27956116" class="card-link">022-27956116</a>
					<p class="card-text">
						QQ群:462067451
					</p>
					<a href="mailto:business@or-change.cn" class="card-link">
						邮箱:business@or-change.cn
					</a>
				</div>
			</div>
		</div>
		<div class="row py-2">
			<div class="col-xs-12">
				<span class="mr-2">
					&copy;2014-2016 or-change, Co., Ltd. All rights reserved.
					<a class="text-muted" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action"> 津ICP备14003159号-2</a>
				</span>
				<span class="mr-2">用户协议</span>
				<span class="mr-2">数据安全</span>
			</div>
		</div>
	</div>
</footer>