<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Lemonce</a>
		</div>
		<div class="btn-group">
			<button class="btn btn-secondary dropdown-toggle">
				Language
			</button>
			<div class="dropdown-menu">
				<a href="/" class="dropdown-item">English</a>
				<a href="/zh-cn" class="dropdown-item">中文</a>
			</div>
		</div>
	</div>
</nav>
